@{
    Layout = "~/Views/Shared/BcakStageFrame.cshtml";
}
@Styles.Render("~/Css/BackStage/SaleCss/ShortageWarning.css")
<div class="contents">
    <div>
        <div>
            <span class="userinfo">
                <span class="userinfo_">所有订单</span>
                <span class="fa fa-database"></span>
            </span>
        </div>
        @Html.Partial("~/Views/BackStage/Sale/AllOrderList/AllOrderListFindBox/_AllOrderListFindBox.cshtml")
        @Html.Partial("~/Views/BackStage/Sale/AllOrderList/AllOrderShowBox/_AllOrderShowBox.cshtml")
    </div>
</div>

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/Js/BackStage/SaleJs/AllOrderList.js")
