@{
    Layout = "~/Views/Shared/BcakStageFrame.cshtml";
}
@Styles.Render("~/Css/BackStage/SaleCss/ShortageWarning.css")
<div class="contents">
    <div>
        <div>
            <span class="userinfo">
                <span class="userinfo_">未处理消息</span>
                <span class="fa fa-database"></span>
            </span>
        </div>
        <div class="fastFind">
            <span class="fastFind-title">快速查找</span>
        </div>
        @Html.Partial("~/Views/BackStage/StoreManagement/NewMessage/NewMessageFindBox/_NewMessageFindBox.cshtml")
        @Html.Partial("~/Views/BackStage/StoreManagement/NewMessage/NewMessageShowBox/_NewMessageShowBox.cshtml")
        @Html.Partial("~/Views/BackStage/StoreManagement/NewMessage/NewMessageInfoBox/_NewMessageInfoBox.cshtml")
    </div>
</div>

@Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
@Scripts.Render("~/Js/BackStage/StoreJs/NewMessage.js")



